<%- include('./partials/head') %>


<section>
  <article>
    <nav>
      <ul>
        <a href="">About</a>
      </ul>
    </nav>
    <article class="naam-image">
      <h2 class="naam"><%= member.name %> <%= member.surname %></h2>  
      <img src="<%= member.avatar %>" alt="Creative Coder">
    </article>
        <p>FDND <%= member.role %></p>
        <p>Woonplaats: Nieuw-Vennep</p>
        <p>Geboren op: 02/11/1999</p>
 
  </article>
</section>
  

  <script src="/index.js"></script>


<%- include('./partials/foot') %>
