<%- include('./partials/head') %>


  <article>
    <nav>
      <ul>
        <li id="colorchange" class="navigatie button"><a href="/">Home</a></li>
        <li id="colorchange" class="navigatie button"><a href="/about">About</a></li>
      </ul>
    </nav>

    <section class="naam-image">
      <h1 class="naam"><%= member.name %> <%= member.surname %></h1>  
      <img src="<%= member.avatar %>" alt="Creative Coder">
    </section>
    <section class="beschrijving">
        <p>FDND <%= member.role %></p>
        <p>Woonplaats: Nieuw-Vennep</p>
        <p>Geboren op: 02/11/1999</p>
      </section>
  </article>
  

  


<%- include('./partials/foot') %>
